* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.nav {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;

}


nav img {
    width: 65px;
    height: 65px;
    padding: 5px;
}



nav div ul {
    display: flex;
    list-style: none;
    margin-top: 10px;



}

nav div ul li a {
    display: block;
    position: relative;
    margin: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a::after {
    content: ' ';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: #55380b;
    transition: all 300ms ease-in-out;
}

nav ul li a:hover::after {
    width: 80%;
    left: 15%;
}

nav h1 {
    font-size: 30px;
    color: white;
    font-family: "Protest Strike", sans-serif;
    position: absolute;
    top: 15px;
    left: 65px;

}

.div-one {
    padding-top: 75px;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.section-one {
    background-image: url(img/FundoLiso2.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div-quem {
    margin: 10px 35px;

}

.quem {
    font-size: 50px;
    font-family: "Protest Strike", sans-serif;
}

.sobre-milena {
    text-align: justify;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
}

.crescer {
    font-size: 18px;
    color: white;
    font-family: sans-serif;

}

.milena-rindo {
    margin-top: 100px;
    margin-left: 10px;
    border-radius: 10px;
    width: 60%;
    height: 55%;
}

.section-two {
    background-image: url(/assets/img/4.svg);
    background-position: center;
}

.div-two {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.div-h1 {
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.importancia {
    font-size: 65px;
    font-family: "Protest Strike", sans-serif;

}

.estar {
    font-size: 25px;
    font-family: "Lobster", serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.redes-h1 {
    width: 60%;
    text-align: left;
    padding: 30px;
    margin-top: 5px;
    background-color: red;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 32.5px;
    word-spacing: 2.5px;


}

.redes-dois {
    letter-spacing: 1.5;
    width: 60%;
    background-color: blue;
    font-size: 20px;
    text-align: center;

}

.div-three {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.servicos-oferecidos {
    padding-top: 65px;
}

.servicos-oferecidos h1 {
    font-size: 80px;
    text-align: center;
    font-family: "Protest Strike", sans-serif;

}

.frase-h3 h3 {
    font-size: 20px;
    text-align: center;
    font-family: "Lobster", serif;

}

.container-dois {
    display: flex;
    justify-content: space-evenly;
    text-align: initial;

}

.gerenciamento {
    width: 70%;
    margin: 0 10px 10px;
    padding: 30px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 8px;

}

.gerenciamento h1 {
    content: normal;
    text-align: center;
    font-size: 28px;
    font-family: "Protest Strike", sans-serif;
}

.gerenciamento h2 {
    line-height: 30px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    line-height: 28px;
    padding: 10px;
    font-size: 22px;
}

.gerenciamento-dois {
    width: 70%;
    margin: 0 10px 10px;
    padding: 30px;
    background-color: red;
    border: 1px solid black;
    border-radius: 8px;
}

.gerenciamento-dois h1 {
    text-align: center;
    font-size: 28px;
    font-family: "Protest Strike", sans-serif;
}

.gerenciamento-dois h2 {

    line-height: 30px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    padding: 15px 10px 0px;
    font-size: 22px;
}

.gerenciamento-tres {
    width: 60%;
    margin: 0 10px 10px;
    padding: 30px;
    background-color: red;
    border: 1px solid black;
    border-radius: 8px;
}

.gerenciamento-tres h1 {
    text-align: center;
    font-size: 28px;
    font-family: "Protest Strike", sans-serif;
    padding: 0 10px 0px;

}

.gerenciamento-tres h2 {
    line-height: 30px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-size: 22px;
}

.button-pone,
.button-ptwo,
.button-pthree {
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center ;

}

.button-pone button{
    background-color: #55380b;
    color: black;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 18px;

}

.button-ptwo button{
    background-color: #55380b;
    color: black;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 18px;

}

.button-pthree button{
    background-color: #55380b;
    color: black;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 18px;

}





@media (max-width:800px) {
   

    .div-one {
        flex-direction: column;
    }

    .div-two {
        text-align: center;
    }

    .pacotes {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .milena-rindo {
        margin: 0 0 18px;
    }

    .redes {
        text-align: center;
        padding: 0;
        margin: 15px 18px 10px;
    }

    .div-pacotes {
        flex-direction: column;
    }

    .gerenciamento h2 {
        padding: 0;
    }

    .sobre-redes {
        display: flex;
        flex-direction: column;
        text-align: center center;
    }


    .div-icon {
        display: none;
    }

    .button-pacote-two,
    .button-pacote-one {
        margin-bottom: 20px;
    }





}