* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: black;
    box-shadow: 0px 3px 10px #55380b;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 55px;
    height: 55px;
}

.logo h1 {
    color: white;
    font-size: 25px;
    padding-left: 5px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.section-one {
    background-image: url(img/FundoLiso2.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div-one {
    text-align: center;
    display: flex;
    padding-top: 75px;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.div-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.quem-milena {
    font-size: 50px;
    padding-bottom: 10px;
    font-family: "Protest Strike", sans-serif;
}

.sobre-milena {
    text-align: justify;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    margin-bottom: 0;
    padding: 0 10px;
    
}

.sobre-info {
    text-align: justify;
    font-size: 18px;
    color: white;
    font-family: sans-serif;
    padding: 0 10px;
}

.apaixonada {
    font-size: 18px;
    color: white;
    font-family: sans-serif;

}

.milena-foto {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30%;


}

.milena-rindo {
    border-radius: 10px;
    width: 90%;
    height: auto;
    object-fit: contain;

}

.section-two {
    background-image: url(assets/img/fundo\ brnco.png);
    background-position: cover;
    background-repeat: repeat-y;
}

.div-two {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.div-h1 {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.importancia {
    font-size: 65px;
    font-family: "Protest Strike", sans-serif;

}

.estar {
    font-size: 20px;
    font-family: "Lobster", serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container img {
    display: flex;
    width: 30%;
    height: 30%;

}



.redes-h1 {
    text-align: justify;
    padding: 30px;
    margin-top: 5px;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 32.5px;
    word-spacing: 2.5px;


}


.div-three {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

.servicos-oferecidos {
    padding-top: 10px;
}

.servicos-oferecidos h1 {
    font-size: 80px;
    text-align: center;
    font-family: "Protest Strike", sans-serif;

}

.frase-h3 h3 {
    font-size: 20px;
    text-align: center;
    font-family: "Lobster", serif;

}

.container-dois {
    display: flex;

}

.gerenciamento {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: 0 10px 10px;
    padding: 30px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 8px;

}

.gerenciamento h1 {
    content: normal;
    text-align: center;
    font-size: 28px;
    font-family: "Protest Strike", sans-serif;
}

.gerenciamento h2 {
    line-height: 30px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    line-height: 28px;
    font-size: 22px;
}

.gerenciamento-dois {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: 0 10px 10px;
    padding: 30px;
    background-color: red;
    border: 1px solid black;
    border-radius: 8px;
}

.gerenciamento-dois h1 {
    text-align: center;
    font-size: 28px;
    font-family: "Protest Strike", sans-serif;
}

.gerenciamento-dois h2 {

    line-height: 30px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    padding: 15px 10px 0px;
    font-size: 22px;
}

.gerenciamento-tres {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    margin: 0 10px 10px;
    padding: 30px;
    background-color: red;
    border: 1px solid black;
    border-radius: 8px;
}

.gerenciamento-tres h1 {
    text-align: center;
    font-size: 28px;
    font-family: "Protest Strike", sans-serif;

}

.gerenciamento-tres h2 {
    line-height: 30px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-size: 22px;
}

.button-pone,
.button-ptwo,
.button-pthree {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.button-pone button {
    background-color: #55380b;
    color: black;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 18px;

}

.button-ptwo button {
    background-color: #55380b;
    color: black;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 18px;

}

.button-pthree button {
    background-color: #55380b;
    color: black;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 18px;

}

.frase-container-dois{
    display: flex;
    justify-content: center;
}

.frase-container-dois h1{
    font-size: 25px;
    padding: 50px;
}





@media (max-width:800px) {

    .nav-bar {
        padding: 24px 64px;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 16px;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 19px;
    }

    .open {
        display: block;
    }

    .div-one {
        flex-direction: column;
        align-items: center;


    }

    .div-info {
        width: auto;
        padding: 10px;

    }

    .container-dois{
        flex-direction: column;
        align-items: center;
    }

    .gerenciamento {
        width: 90%;
    }
    .gerenciamento-dois {
        width: 90%;
    }
    .gerenciamento-tres {
        width: 90%;
    }

}